@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900,&display=swap&subset=cyrillic");
/* line 21, ../bootstrap/scss/_reboot.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 27, ../bootstrap/scss/_reboot.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}
/* line 45, ../bootstrap/scss/_reboot.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 57, ../bootstrap/scss/_reboot.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* line 73, ../bootstrap/scss/_reboot.scss */
[tabindex="-1"]:focus {
  outline: 0 !important;
}

/* line 83, ../bootstrap/scss/_reboot.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 99, ../bootstrap/scss/_reboot.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 109, ../bootstrap/scss/_reboot.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 121, ../bootstrap/scss/_reboot.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 129, ../bootstrap/scss/_reboot.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 135, ../bootstrap/scss/_reboot.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 142, ../bootstrap/scss/_reboot.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 149, ../bootstrap/scss/_reboot.scss */
dt {
  font-weight: 700;
}

/* line 153, ../bootstrap/scss/_reboot.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 158, ../bootstrap/scss/_reboot.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 162, ../bootstrap/scss/_reboot.scss */
dfn {
  font-style: italic;
}

/* line 167, ../bootstrap/scss/_reboot.scss */
b,
strong {
  font-weight: bolder;
}

/* line 173, ../bootstrap/scss/_reboot.scss */
small {
  font-size: 80%;
}

/* line 182, ../bootstrap/scss/_reboot.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 190, ../bootstrap/scss/_reboot.scss */
sub {
  bottom: -.25em;
}

/* line 191, ../bootstrap/scss/_reboot.scss */
sup {
  top: -.5em;
}

/* line 198, ../bootstrap/scss/_reboot.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
/* line 15, ../bootstrap/scss/mixins/_hover.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* line 216, ../bootstrap/scss/_reboot.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
/* line 19, ../bootstrap/scss/mixins/_hover.scss */
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
/* line 225, ../bootstrap/scss/_reboot.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 236, ../bootstrap/scss/_reboot.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 245, ../bootstrap/scss/_reboot.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 262, ../bootstrap/scss/_reboot.scss */
figure {
  margin: 0 0 1rem;
}

/* line 272, ../bootstrap/scss/_reboot.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 277, ../bootstrap/scss/_reboot.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 286, ../bootstrap/scss/_reboot.scss */
table {
  border-collapse: collapse;
}

/* line 290, ../bootstrap/scss/_reboot.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

/* line 298, ../bootstrap/scss/_reboot.scss */
th {
  text-align: inherit;
}

/* line 309, ../bootstrap/scss/_reboot.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 318, ../bootstrap/scss/_reboot.scss */
button {
  border-radius: 0;
}

/* line 326, ../bootstrap/scss/_reboot.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 331, ../bootstrap/scss/_reboot.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 342, ../bootstrap/scss/_reboot.scss */
button,
input {
  overflow: visible;
}

/* line 347, ../bootstrap/scss/_reboot.scss */
button,
select {
  text-transform: none;
}

/* line 355, ../bootstrap/scss/_reboot.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 363, ../bootstrap/scss/_reboot.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 371, ../bootstrap/scss/_reboot.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 378, ../bootstrap/scss/_reboot.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 390, ../bootstrap/scss/_reboot.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 396, ../bootstrap/scss/_reboot.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 411, ../bootstrap/scss/_reboot.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 423, ../bootstrap/scss/_reboot.scss */
progress {
  vertical-align: baseline;
}

/* line 428, ../bootstrap/scss/_reboot.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 433, ../bootstrap/scss/_reboot.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 446, ../bootstrap/scss/_reboot.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 456, ../bootstrap/scss/_reboot.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 465, ../bootstrap/scss/_reboot.scss */
output {
  display: inline-block;
}

/* line 469, ../bootstrap/scss/_reboot.scss */
summary {
  display: list-item;
  cursor: pointer;
}

/* line 474, ../bootstrap/scss/_reboot.scss */
template {
  display: none;
}

/* line 480, ../bootstrap/scss/_reboot.scss */
[hidden] {
  display: none !important;
}

/* line 7, ../bootstrap/scss/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* line 16, ../bootstrap/scss/_type.scss */
h1, .h1 {
  font-size: 2.5rem;
}

/* line 17, ../bootstrap/scss/_type.scss */
h2, .h2 {
  font-size: 2rem;
}

/* line 18, ../bootstrap/scss/_type.scss */
h3, .h3 {
  font-size: 1.75rem;
}

/* line 19, ../bootstrap/scss/_type.scss */
h4, .h4 {
  font-size: 1.5rem;
}

/* line 20, ../bootstrap/scss/_type.scss */
h5, .h5 {
  font-size: 1.25rem;
}

/* line 21, ../bootstrap/scss/_type.scss */
h6, .h6 {
  font-size: 1rem;
}

/* line 23, ../bootstrap/scss/_type.scss */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* line 29, ../bootstrap/scss/_type.scss */
.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 34, ../bootstrap/scss/_type.scss */
.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 39, ../bootstrap/scss/_type.scss */
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 44, ../bootstrap/scss/_type.scss */
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 55, ../bootstrap/scss/_type.scss */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 67, ../bootstrap/scss/_type.scss */
small,
.small {
  font-size: 80%;
  font-weight: 400;
}

/* line 73, ../bootstrap/scss/_type.scss */
mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

/* line 84, ../bootstrap/scss/_type.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 89, ../bootstrap/scss/_type.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
}

/* line 92, ../bootstrap/scss/_type.scss */
.list-inline-item {
  display: inline-block;
}
/* line 95, ../bootstrap/scss/_type.scss */
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

/* line 106, ../bootstrap/scss/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 112, ../bootstrap/scss/_type.scss */
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* line 117, ../bootstrap/scss/_type.scss */
.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
/* line 122, ../bootstrap/scss/_type.scss */
.blockquote-footer::before {
  content: "\2014 \00A0";
}

/* line 8, ../bootstrap/scss/_images.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 14, ../bootstrap/scss/_images.scss */
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* line 29, ../bootstrap/scss/_images.scss */
.figure {
  display: inline-block;
}

/* line 34, ../bootstrap/scss/_images.scss */
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

/* line 39, ../bootstrap/scss/_images.scss */
.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

/* line 2, ../bootstrap/scss/_code.scss */
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* line 10, ../bootstrap/scss/_code.scss */
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}
/* line 16, ../bootstrap/scss/_code.scss */
a > code {
  color: inherit;
}

/* line 22, ../bootstrap/scss/_code.scss */
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
/* line 30, ../bootstrap/scss/_code.scss */
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

/* line 39, ../bootstrap/scss/_code.scss */
pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}
/* line 45, ../bootstrap/scss/_code.scss */
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

/* line 53, ../bootstrap/scss/_code.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* line 6, ../bootstrap/scss/_grid.scss */
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  /* line 6, ../bootstrap/scss/_grid.scss */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* line 6, ../bootstrap/scss/_grid.scss */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 6, ../bootstrap/scss/_grid.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../bootstrap/scss/_grid.scss */
  .container {
    max-width: 1140px;
  }
}

/* line 18, ../bootstrap/scss/_grid.scss */
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

/* line 28, ../bootstrap/scss/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

/* line 34, ../bootstrap/scss/_grid.scss */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/* line 38, ../bootstrap/scss/_grid.scss */
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 8, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

/* line 32, ../bootstrap/scss/mixins/_grid-framework.scss */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/* line 37, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

/* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* line 49, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-first {
  order: -1;
}

/* line 51, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-last {
  order: 13;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-0 {
  order: 0;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-1 {
  order: 1;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-2 {
  order: 2;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-3 {
  order: 3;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-4 {
  order: 4;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-5 {
  order: 5;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-6 {
  order: 6;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-7 {
  order: 7;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-8 {
  order: 8;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-9 {
  order: 9;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-10 {
  order: 10;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-11 {
  order: 11;
}

/* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
.order-12 {
  order: 12;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-3 {
  margin-left: 25%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-6 {
  margin-left: 50%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-9 {
  margin-left: 75%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  /* line 32, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-first {
    order: -1;
  }

  /* line 51, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-last {
    order: 13;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-0 {
    order: 0;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-1 {
    order: 1;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-2 {
    order: 2;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-3 {
    order: 3;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-4 {
    order: 4;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-5 {
    order: 5;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-6 {
    order: 6;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-7 {
    order: 7;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-8 {
    order: 8;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-9 {
    order: 9;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-10 {
    order: 10;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-11 {
    order: 11;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-sm-12 {
    order: 12;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-0 {
    margin-left: 0;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-3 {
    margin-left: 25%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-6 {
    margin-left: 50%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-9 {
    margin-left: 75%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  /* line 32, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-first {
    order: -1;
  }

  /* line 51, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-last {
    order: 13;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-0 {
    order: 0;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-1 {
    order: 1;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-2 {
    order: 2;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-3 {
    order: 3;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-4 {
    order: 4;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-5 {
    order: 5;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-6 {
    order: 6;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-7 {
    order: 7;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-8 {
    order: 8;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-9 {
    order: 9;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-10 {
    order: 10;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-11 {
    order: 11;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-md-12 {
    order: 12;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-0 {
    margin-left: 0;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-3 {
    margin-left: 25%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-6 {
    margin-left: 50%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-9 {
    margin-left: 75%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  /* line 32, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-first {
    order: -1;
  }

  /* line 51, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-last {
    order: 13;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-0 {
    order: 0;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-1 {
    order: 1;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-2 {
    order: 2;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-3 {
    order: 3;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-4 {
    order: 4;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-5 {
    order: 5;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-6 {
    order: 6;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-7 {
    order: 7;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-8 {
    order: 8;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-9 {
    order: 9;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-10 {
    order: 10;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-11 {
    order: 11;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-lg-12 {
    order: 12;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-0 {
    margin-left: 0;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-3 {
    margin-left: 25%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-6 {
    margin-left: 50%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-9 {
    margin-left: 75%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  /* line 32, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 44, ../bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-first {
    order: -1;
  }

  /* line 51, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-last {
    order: 13;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-0 {
    order: 0;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-1 {
    order: 1;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-2 {
    order: 2;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-3 {
    order: 3;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-4 {
    order: 4;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-5 {
    order: 5;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-6 {
    order: 6;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-7 {
    order: 7;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-8 {
    order: 8;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-9 {
    order: 9;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-10 {
    order: 10;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-11 {
    order: 11;
  }

  /* line 54, ../bootstrap/scss/mixins/_grid-framework.scss */
  .order-xl-12 {
    order: 12;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-0 {
    margin-left: 0;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-3 {
    margin-left: 25%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-6 {
    margin-left: 50%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-9 {
    margin-left: 75%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
/* line 8, ../bootstrap/scss/_modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 13, ../bootstrap/scss/_modal.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
/* line 29, ../bootstrap/scss/_modal.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 36, ../bootstrap/scss/_modal.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
/* line 44, ../bootstrap/scss/_modal.scss */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}
/* line 48, ../bootstrap/scss/_modal.scss */
.modal.show .modal-dialog {
  transform: translate(0, 0);
}

/* line 53, ../bootstrap/scss/_modal.scss */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

/* line 60, ../bootstrap/scss/_modal.scss */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

/* line 77, ../bootstrap/scss/_modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
/* line 87, ../bootstrap/scss/_modal.scss */
.modal-backdrop.fade {
  opacity: 0;
}
/* line 88, ../bootstrap/scss/_modal.scss */
.modal-backdrop.show {
  opacity: 0.5;
}

/* line 93, ../bootstrap/scss/_modal.scss */
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
/* line 101, ../bootstrap/scss/_modal.scss */
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

/* line 109, ../bootstrap/scss/_modal.scss */
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

/* line 116, ../bootstrap/scss/_modal.scss */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

/* line 125, ../bootstrap/scss/_modal.scss */
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
/* line 133, ../bootstrap/scss/_modal.scss */
.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}
/* line 134, ../bootstrap/scss/_modal.scss */
.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

/* line 138, ../bootstrap/scss/_modal.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  /* line 149, ../bootstrap/scss/_modal.scss */
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  /* line 154, ../bootstrap/scss/_modal.scss */
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }

  /* line 162, ../bootstrap/scss/_modal.scss */
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  /* line 167, ../bootstrap/scss/_modal.scss */
  .modal-lg {
    max-width: 800px;
  }
}
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*main color*/
/*14181b*/
/*1c2023*/
/* line 1, ../scss/_font.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

/* line 1, ../scss/_form.scss */
.inpt-reset, .inpt-1, .sbmt-1, .btn-1, .btn-2, .btn-3 {
  border: none;
  background: none;
  outline: none;
}

/* line 7, ../scss/_form.scss */
.inpt-1 {
  width: 100%;
  height: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

/* line 14, ../scss/_form.scss */
.sbmt-1 {
  position: absolute;
  background: url("../img/search.svg");
  width: 24px;
  height: 24px;
  left: 12px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

/* line 27, ../scss/_form.scss */
.btn-1 {
  width: 114px;
  height: 32px;
  border-radius: 8px;
  color: #282828;
  font-size: .6875rem;
  text-align: center;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  padding: 0;
  cursor: pointer;
  transition: all .2s linear;
}
/* line 40, ../scss/_form.scss */
.btn-1:hover {
  border-color: #ffa365;
  background: #ffa365;
}

/* line 46, ../scss/_form.scss */
.btn-2 {
  width: 114px;
  height: 32px;
  border-radius: 8px;
  color: #282828;
  font-size: .6875rem;
  text-align: center;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  padding: 0;
  cursor: pointer;
  transition: all .2s linear;
}
/* line 59, ../scss/_form.scss */
.btn-2:hover {
  border-color: #ffa365;
  background: #ffa365;
}

/* line 65, ../scss/_form.scss */
a.btn-1,
a.btn-2 {
  line-height: 2rem;
  color: #282828;
  display: inline-block;
}
/* line 70, ../scss/_form.scss */
a.btn-1:hover,
a.btn-2:hover {
  text-decoration: none;
}

/* line 82, ../scss/_form.scss */
.btn-3 {
  display: inline-block;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: .75rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
  background: #ffa365;
}
/* line 98, ../scss/_form.scss */
.btn-3:hover {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 992px) {
  /* line 106, ../scss/_form.scss */
  .sbmt-1 {
    left: auto;
    right: 25px;
    top: 12px;
    margin: 0;
  }

  /* line 113, ../scss/_form.scss */
  .inpt-1 {
    width: 100%;
    height: 30px;
    padding-right: 65px;
    padding-left: 25px;
    margin-top: 9px;
  }
}
/* line 1, ../scss/sidebar/_sidebar.scss */
.sidebar {
  position: fixed;
  left: -300px;
  width: 178px;
  height: 100%;
  background: #4b1e7b;
  flex-grow: 0;
  padding: 80px 0 18px 0;
  z-index: 10;
  opacity: 0;
  transition: all .2s linear;
  overflow-y: scroll;
}
/* line 16, ../scss/sidebar/_sidebar.scss */
.sidebar.open {
  left: 0;
  opacity: 1;
}

/* line 24, ../scss/sidebar/_sidebar.scss */
.sidebar-logo {
  text-align: center;
  display: none;
}
/* line 27, ../scss/sidebar/_sidebar.scss */
.sidebar-logo .logo-title {
  display: inline-block;
  padding-bottom: 5px;
  color: #ffee4d;
  font-size: 1.375rem;
  border-bottom: 1px solid #ffee4d;
  transition: all .2s linear;
}
/* line 35, ../scss/sidebar/_sidebar.scss */
.sidebar-logo .logo-slogan {
  display: inline-block;
  width: 100%;
  color: #ffee4d;
  font-size: .5625rem;
  letter-spacing: 1px;
  transition: color .2s linear;
}

/* line 47, ../scss/sidebar/_sidebar.scss */
.sidebar-switcher {
  text-align: center;
}

@media (min-width: 992px) {
  /* line 57, ../scss/sidebar/_sidebar.scss */
  .sidebar {
    position: relative;
    left: 0;
    width: 178px;
    padding: 18px 0;
    opacity: 1 !important;
    overflow: visible;
    height: auto;
    border-radius: 30px 0 0 30px;
  }

  /* line 67, ../scss/sidebar/_sidebar.scss */
  .sidebar-logo {
    display: block;
  }

  /* line 70, ../scss/sidebar/_sidebar.scss */
  .mobile-get-genre,
  .sidebar-switcher {
    display: none;
  }
}
/* line 1, ../scss/sidebar/_main_nav.scss */
.main-nav,
.mobile-get-genre {
  margin-top: 0;
  text-align: center;
}
/* line 5, ../scss/sidebar/_main_nav.scss */
.main-nav ul,
.mobile-get-genre ul {
  list-style: none;
}
/* line 8, ../scss/sidebar/_main_nav.scss */
.main-nav li,
.mobile-get-genre li {
  width: 100%;
  position: relative;
  padding: 11px 0 9px 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-top: none;
}
/* line 22, ../scss/sidebar/_main_nav.scss */
.main-nav li.active:before, .main-nav li:hover:before,
.mobile-get-genre li.active:before,
.mobile-get-genre li:hover:before {
  content: '';
  width: 165px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  border-radius: 10px 0 0 10px;
}
/* line 34, ../scss/sidebar/_main_nav.scss */
.main-nav li.active a, .main-nav li:hover a,
.mobile-get-genre li.active a,
.mobile-get-genre li:hover a {
  color: #161616;
}
/* line 39, ../scss/sidebar/_main_nav.scss */
.main-nav li.soon span,
.mobile-get-genre li.soon span {
  opacity: .4;
}
/* line 43, ../scss/sidebar/_main_nav.scss */
.main-nav li.soon:hover:before,
.mobile-get-genre li.soon:hover:before {
  display: none;
}
/* line 47, ../scss/sidebar/_main_nav.scss */
.main-nav li.soon:after,
.mobile-get-genre li.soon:after {
  content: 'Soon';
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 300;
  padding: 0px 4px;
  border-radius: 0 5px 5px 0;
  background: #6f6f6f;
}
/* line 61, ../scss/sidebar/_main_nav.scss */
.main-nav a,
.mobile-get-genre a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  z-index: 2;
  border-top: none;
}
/* line 69, ../scss/sidebar/_main_nav.scss */
.main-nav a:hover,
.mobile-get-genre a:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  /* line 77, ../scss/sidebar/_main_nav.scss */
  .main-nav,
  .mobile-get-genre {
    margin-top: 38px;
  }
}
/* line 45, ../scss/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #ffffff;
  color: #282828;
}
/* line 51, ../scss/style.scss */
body.open {
  overflow: hidden;
}

/* line 55, ../scss/style.scss */
body * {
  box-sizing: border-box;
  outline: none;
}

/* line 64, ../scss/style.scss */
.layout {
  max-width: 1254px;
  margin: 0;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* line 74, ../scss/style.scss */
h1 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #1e1e1e;
  line-height: 2rem;
}

/* line 80, ../scss/style.scss */
h2 {
  color: #1e1e1e;
  font-size: 1.125rem;
  /*18*/
  line-height: 1.5rem;
  /*24*/
  font-weight: bold;
}

/* line 86, ../scss/style.scss */
h3 {
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.875rem;
}

/* line 93, ../scss/style.scss */
p {
  font-size: .75rem;
  line-height: 1rem;
  color: #2a2a2a;
}

/* line 98, ../scss/style.scss */
.opacity {
  opacity: .5;
}

/* line 102, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 106, ../scss/style.scss */
.box-title {
  width: 100%;
  position: relative;
}
/* line 109, ../scss/style.scss */
.box-title span {
  background: #fbf7f7;
  padding-right: 30px;
  position: relative;
  z-index: 2;
}
/* line 115, ../scss/style.scss */
.box-title:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  z-index: 1;
}

/* line 128, ../scss/style.scss */
.shadow {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity .3s linear;
}
/* line 138, ../scss/style.scss */
.shadow.open {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

@media (min-width: 992px) {
  /* line 147, ../scss/style.scss */
  body {
    overflow: auto !important;
  }

  /* line 150, ../scss/style.scss */
  .layout {
    max-width: 1254px;
    border-radius: 30px;
    margin: 36px auto 32px auto;
    display: flex;
    flex-direction: row;
  }

  /* line 158, ../scss/style.scss */
  .shadow.open {
    left: -100% !important;
    right: auto;
  }
}
/* line 2, ../scss/_theme-dark.scss */
.theme-dark body {
  color: #ffffff !important;
}
/* line 5, ../scss/_theme-dark.scss */
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark p,
.theme-dark .film-list-item-rating,
.theme-dark .film-body-rating,
.theme-dark .btn-1,
.theme-dark .btn-2,
.theme-dark .film-more-info-rating {
  color: #ffffff !important;
}
/* line 21, ../scss/_theme-dark.scss */
.theme-dark .modal-close:before, .theme-dark .modal-close:after {
  background: #ffffff !important;
}
/* line 26, ../scss/_theme-dark.scss */
.theme-dark .sidebar,
.theme-dark .header {
  background: #ffcc33 !important;
}
/* line 30, ../scss/_theme-dark.scss */
.theme-dark .content,
.theme-dark .modal-content {
  background: #1c2023 !important;
}
/* line 34, ../scss/_theme-dark.scss */
.theme-dark .film-list,
.theme-dark .film,
.theme-dark .film-random,
.theme-dark .genre-more-inner.open,
.theme-dark .header-search,
.theme-dark .film-more-story,
.theme-dark .film-more-info,
.theme-dark .select-country-list,
.theme-dark .box-title span,
.theme-dark .film-random-genre ul {
  background: #14181b !important;
}
/* line 46, ../scss/_theme-dark.scss */
.theme-dark .film-btn-arrow-prev,
.theme-dark .film-btn-arrow-next,
.theme-dark .film-random-btn-arrow-prev,
.theme-dark .film-random-btn-arrow-next {
  background: #292b2d !important;
}
/* line 51, ../scss/_theme-dark.scss */
.theme-dark .film-btn-arrow-prev:hover,
.theme-dark .film-btn-arrow-next:hover,
.theme-dark .film-random-btn-arrow-prev:hover,
.theme-dark .film-random-btn-arrow-next:hover {
  background: #e19b6d !important;
}
/* line 57, ../scss/_theme-dark.scss */
.theme-dark .film-list-item.active, .theme-dark .film-list-item:hover {
  background: #2e231f !important;
}
/* line 63, ../scss/_theme-dark.scss */
.theme-dark .film-sn li {
  background: #292b2d;
}
/* line 70, ../scss/_theme-dark.scss */
.theme-dark .genre a,
.theme-dark .genre .genre-get-more,
.theme-dark .film-random-genre-selected,
.theme-dark .film-random-genre ul li,
.theme-dark .film-random-body-footer-rating,
.theme-dark .select-country-list li {
  color: #ffffff !important;
}
/* line 79, ../scss/_theme-dark.scss */
.theme-dark .main-nav a,
.theme-dark .mobile-get-genre a,
.theme-dark .main-nav li,
.theme-dark .mobile-get-genre li,
.theme-dark .logo-title,
.theme-dark .logo-slogan {
  color: #161616 !important;
}
/* line 87, ../scss/_theme-dark.scss */
.theme-dark .logo-title {
  border-color: #161616;
}
/* line 92, ../scss/_theme-dark.scss */
.theme-dark .film-inner .film-shadow {
  background: rgba(0, 0, 0, 0.6) !important;
}
/* line 98, ../scss/_theme-dark.scss */
.theme-dark .modal-genre-list a {
  color: #ffffff;
}

@media (min-width: 992px) {
  /* line 111, ../scss/_theme-dark.scss */
  .theme-dark .header {
    background: none !important;
  }
}
/* line 1, ../scss/content/_modal.scss */
.modal-content {
  border-radius: 0;
}

/* line 5, ../scss/content/_modal.scss */
.modal-header {
  border-radius: 18px 18px 0 0;
  border: none;
  position: relative;
}

/* line 10, ../scss/content/_modal.scss */
.modal-close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 4;
}
/* line 25, ../scss/content/_modal.scss */
.modal-close:before {
  content: '';
  width: 15px;
  height: 2px;
  background: #4b1e7b;
  position: absolute;
  left: 5px;
  top: 11px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 39, ../scss/content/_modal.scss */
.modal-close:after {
  content: '';
  width: 15px;
  height: 2px;
  background: #4b1e7b;
  position: absolute;
  left: 5px;
  top: 11px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 56, ../scss/content/_modal.scss */
.modal-genre-list a {
  color: #2a2a2a;
}

/* line 63, ../scss/content/_modal.scss */
.modal-film .film-banner img {
  text-align: center;
}
/* line 67, ../scss/content/_modal.scss */
.modal-film .film-banner img {
  display: inline-block;
}

@media (min-width: 992px) {
  /* line 73, ../scss/content/_modal.scss */
  .modal-content {
    border-radius: 18px;
  }
}
/* line 1, ../scss/header/_burger.scss */
.burger {
  display: block;
  padding: 10px;
  cursor: pointer;
  z-index: 150;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 12;
  transition: opacity .3s linear;
}

/* line 15, ../scss/header/_burger.scss */
.burger.hide {
  z-index: 0;
}

/* line 18, ../scss/header/_burger.scss */
.burger .bar {
  margin: auto;
  display: block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}

/* line 28, ../scss/header/_burger.scss */
.burger .bar + .bar {
  margin-top: 4px;
}

/* line 32, ../scss/header/_burger.scss */
.burger.open .bar:nth-child(2) {
  display: none;
}

/* line 35, ../scss/header/_burger.scss */
.burger.open .bar:nth-child(1) {
  transform: rotate(45deg);
  ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  bottom: -6px;
}

/* line 43, ../scss/header/_burger.scss */
.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  top: 0px;
}

@media (min-width: 992px) {
  /* line 54, ../scss/header/_burger.scss */
  .burger {
    display: none;
  }
}
/* line 1, ../scss/header/_header.scss */
.header {
  background: #4b1e7b;
  padding: 24px 12px 24px 12px;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  left: 15px;
  right: 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  transition: background .2s linear;
}

/* line 21, ../scss/header/_header.scss */
.header-mobile-logo {
  position: absolute;
  width: 100%;
  left: 0;
  top: -20px;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 0;
  opacity: 1;
  transition: opacity .2s linear;
}
/* line 32, ../scss/header/_header.scss */
.header-mobile-logo.search-open {
  opacity: 0;
}

/* line 36, ../scss/header/_header.scss */
.get-search {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  background: url("../img/search-white.svg");
  cursor: pointer;
  z-index: 1;
}

/* line 48, ../scss/header/_header.scss */
.search-close {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 4;
}
/* line 57, ../scss/header/_header.scss */
.search-close:before {
  content: '';
  width: 15px;
  height: 2px;
  background: #616161;
  position: absolute;
  left: 5px;
  top: 11px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 71, ../scss/header/_header.scss */
.search-close:after {
  content: '';
  width: 15px;
  height: 2px;
  background: #616161;
  position: absolute;
  left: 5px;
  top: 11px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 87, ../scss/header/_header.scss */
.header-search-wrapper {
  position: relative;
  overflow: hidden;
  height: 32px;
}
/* line 91, ../scss/header/_header.scss */
.header-search-wrapper.search-open {
  height: 194px;
  background: #ffffff;
  border-radius: 18px;
}

/* line 98, ../scss/header/_header.scss */
.header-search {
  background: #fbf7f7;
  height: 32px;
  width: 100%;
  position: absolute;
  right: -100%;
  border-radius: 15px;
  transition: all .2s linear;
  z-index: 3;
}
/* line 108, ../scss/header/_header.scss */
.header-search.search-open {
  right: 0;
}

/* line 112, ../scss/header/_header.scss */
.header-search-inner {
  position: relative;
  z-index: 3;
  height: 32px;
}

/* line 118, ../scss/header/_header.scss */
.header-search-result {
  background: #fbf7f7;
  border-radius: 0 0 18px 18px;
  padding: 25px 24px 20px 24px;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  overflow-y: scroll;
  max-height: 162px;
}
/* line 130, ../scss/header/_header.scss */
.header-search-result li {
  padding-top: 5px;
  font-size: .75rem;
  line-height: 1rem;
  color: #2a2a2a;
  cursor: pointer;
}

/* line 142, ../scss/header/_header.scss */
.layout-film .header {
  height: 0px;
  padding: 0;
}
/* line 145, ../scss/header/_header.scss */
.layout-film .header .genre,
.layout-film .header .header-mobile-logo,
.layout-film .header .header-search,
.layout-film .header .get-search {
  display: none;
}
/* line 151, ../scss/header/_header.scss */
.layout-film .header .switch-wrapper {
  border-radius: 36px;
  background: #ffffff;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  right: 36px;
  text-align: center;
}
/* line 161, ../scss/header/_header.scss */
.layout-film .header .burger {
  top: 41px;
  left: 29px;
}
/* line 166, ../scss/header/_header.scss */
.layout-film .sidebar.open {
  top: 0;
}

@media (min-width: 992px) {
  /* line 173, ../scss/header/_header.scss */
  .header.header-film {
    height: 0;
  }

  /* line 177, ../scss/header/_header.scss */
  .header-mobile-logo,
  .search-close {
    display: none;
  }

  /* line 182, ../scss/header/_header.scss */
  .get-search {
    display: none;
  }

  /* line 185, ../scss/header/_header.scss */
  .header {
    border-radius: 30px 30px 0 0;
    background: none;
    border-radius: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: auto;
    height: 98px;
    padding: 24px 0 0 0;
    margin-left: 0;
    margin-right: 0;
    background: none !important;
  }

  /* line 202, ../scss/header/_header.scss */
  .header-search {
    position: relative;
    right: 0;
    height: 48px;
  }

  /* line 208, ../scss/header/_header.scss */
  .header-search-wrapper {
    position: relative;
    overflow: visible;
    height: auto;
  }
  /* line 212, ../scss/header/_header.scss */
  .header-search-wrapper.search-open {
    height: auto;
    background: none;
    border-radius: 18px;
  }

  /* line 219, ../scss/header/_header.scss */
  .header-search-result {
    overflow: visible;
  }

  /* line 223, ../scss/header/_header.scss */
  .layout-film .header {
    height: 0px;
    padding: 0;
  }
  /* line 226, ../scss/header/_header.scss */
  .layout-film .header .genre,
  .layout-film .header .header-mobile-logo,
  .layout-film .header .header-search,
  .layout-film .header .get-search {
    display: none;
  }
  /* line 232, ../scss/header/_header.scss */
  .layout-film .header .switch-wrapper {
    border-radius: 36px;
    background: #ffffff;
    padding: 8px 16px;
    position: absolute;
    top: 32px;
    right: 24px;
    width: 88px;
    text-align: center;
  }
}
/* line 1, ../scss/header/_genre.scss */
.genre {
  padding: 0 0 0 24px;
  line-height: 1.25rem;
}
/* line 4, ../scss/header/_genre.scss */
.genre a,
.genre .genre-get-more {
  color: #2a2a2a;
  font-size: .75rem;
  cursor: pointer;
  line-height: 1.25rem;
}

/* line 14, ../scss/header/_genre.scss */
.header .genre {
  display: none;
}

/* line 18, ../scss/header/_genre.scss */
.genre-list {
  padding-top: 10px;
  overflow: hidden;
  height: 52px;
}
/* line 22, ../scss/header/_genre.scss */
.genre-list li {
  display: inline;
  padding-right: 12px;
}

/* line 32, ../scss/header/_genre.scss */
.genre-more {
  position: relative;
  background: orange;
  z-index: 2;
}

/* line 38, ../scss/header/_genre.scss */
.genre-more-inner {
  padding: 10px 24px 15px 24px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
/* line 45, ../scss/header/_genre.scss */
.genre-more-inner.open {
  border-radius: 18px;
  background: #fbf7f7;
}
/* line 48, ../scss/header/_genre.scss */
.genre-more-inner.open .genre-get-more {
  text-decoration: underline;
}
/* line 50, ../scss/header/_genre.scss */
.genre-more-inner.open .genre-get-more:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 54, ../scss/header/_genre.scss */
.genre-more-inner.open .genre-more-list {
  display: block;
}
/* line 58, ../scss/header/_genre.scss */
.genre-more-inner .genre-get-more {
  color: #ff8d5c;
  position: relative;
  padding-right: 28px;
  display: inline-block;
  width: 100%;
}
/* line 64, ../scss/header/_genre.scss */
.genre-more-inner .genre-get-more:after {
  content: '';
  background: url("../img/chevron.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -2px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 76, ../scss/header/_genre.scss */
.genre-more-inner .genre-more-list {
  display: none;
}

@media (min-width: 992px) {
  /* line 84, ../scss/header/_genre.scss */
  .header .genre {
    display: block;
  }
}
/* line 1, ../scss/header/_swither.scss */
.switch-wrapper {
  position: relative;
  top: 15px;
}

/* line 6, ../scss/header/_swither.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  border: 1px solid #e7e8eb;
  border-radius: 36px;
  display: inline-block;
}

/* line 17, ../scss/header/_swither.scss */
.header .switch {
  display: none;
}

/* line 20, ../scss/header/_swither.scss */
.header.header-film .switch {
  display: block;
}

/* line 23, ../scss/header/_swither.scss */
.switch-wrapper input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* line 30, ../scss/header/_swither.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8d5c;
  -webkit-transition: .2s;
  transition: .2s;
}

/* line 43, ../scss/header/_swither.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

/* line 55, ../scss/header/_swither.scss */
input:checked + .slider,
.ui-checkbox-on .slider {
  background-color: #000000;
}

/* line 60, ../scss/header/_swither.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #e7e8eb;
}

/* line 64, ../scss/header/_swither.scss */
input:checked + .slider:before,
.ui-checkbox-on .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
/* line 72, ../scss/header/_swither.scss */
.slider.round {
  border-radius: 34px;
}

/* line 76, ../scss/header/_swither.scss */
.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 992px) {
  /* line 86, ../scss/header/_swither.scss */
  .header .switch {
    display: block;
  }
}
/* line 1, ../scss/content/_content.scss */
.content {
  width: 100%;
  flex-grow: 1;
  background: #f7f9fe;
  padding: 0 12px 24px 12px;
  transition: background .2s linear;
}

/* line 10, ../scss/content/_content.scss */
.content-inner {
  margin-top: 24px;
}

@media (min-width: 992px) {
  /* line 16, ../scss/content/_content.scss */
  .content {
    width: 80%;
    padding: 0 12px 24px 12px;
  }
}
/* line 1, ../scss/content/_film-list.scss */
.film-list {
  padding: 15px 24px;
  background: #fbf7f7;
  border-radius: 15px;
  transition: background .2s linear;
}

/* line 8, ../scss/content/_film-list.scss */
.film-list-item {
  padding: 15px 24px;
  border-radius: 18px;
  transition: background .2s linear;
  cursor: pointer;
}
/* line 13, ../scss/content/_film-list.scss */
.film-list-item:hover, .film-list-item.active {
  background: #fff0ea;
}
/* line 16, ../scss/content/_film-list.scss */
.film-list-item:hover .film-list-item-rating, .film-list-item.active .film-list-item-rating {
  opacity: 1;
}
/* line 20, ../scss/content/_film-list.scss */
.film-list-item .col-lg-7,
.film-list-item .col-lg-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 29, ../scss/content/_film-list.scss */
.film-list-item-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* line 36, ../scss/content/_film-list.scss */
.film-list-item-text {
  padding-top: 20px;
  padding-bottom: 15px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
/* line 42, ../scss/content/_film-list.scss */
.film-list-item-text h2 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #1e1e1e;
  padding-bottom: 10px;
}
/* line 48, ../scss/content/_film-list.scss */
.film-list-item-text p {
  font-size: .75rem;
  font-weight: 400;
}

/* line 53, ../scss/content/_film-list.scss */
.film-list-item-rating {
  background: url("../img/rating.png") no-repeat;
  width: 33px;
  height: 33px;
  font-size: 10px;
  font-weight: 900;
  line-height: 34px;
  text-align: center;
  position: relative;
  top: 0;
  right: 0;
  opacity: .6;
  transition: opacity .2s linear;
}

@media (min-width: 992px) {
  /* line 70, ../scss/content/_film-list.scss */
  .film-list-item-text {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 73, ../scss/content/_film-list.scss */
  .film-list-item-text h2 {
    padding-bottom: 0;
  }
}
/* line 1, ../scss/content/_film.scss */
.film {
  padding: 24px 24px;
  position: relative;
  border-radius: 18px;
  background: #fbf7f7;
  transition: background .2s linear;
}

/* line 10, ../scss/content/_film.scss */
.film-inner .film-shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.6);
  transition: all .2s linear;
  opacity: 0;
}
/* line 21, ../scss/content/_film.scss */
.film-inner .film-shadow.show {
  z-index: 10;
  opacity: 1;
}
/* line 25, ../scss/content/_film.scss */
.film-inner .film-shadow img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -36px;
  margin-left: -36px;
}

/* line 35, ../scss/content/_film.scss */
.film-desctop {
  display: none;
}

/* line 38, ../scss/content/_film.scss */
.film-banner {
  text-align: center;
}
/* line 41, ../scss/content/_film.scss */
.film-banner img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 18px;
}

/* line 49, ../scss/content/_film.scss */
.film-body {
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
}
/* line 55, ../scss/content/_film.scss */
.film-body p {
  font-size: .6875rem;
}

/* line 59, ../scss/content/_film.scss */
.film-genre {
  padding-top: 5px;
  padding-bottom: 6px;
}
/* line 62, ../scss/content/_film.scss */
.film-genre p {
  font-size: .625rem;
}

/* line 68, ../scss/content/_film.scss */
.film-sn {
  width: 100%;
  padding-top: 20px;
}
/* line 71, ../scss/content/_film.scss */
.film-sn ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 76, ../scss/content/_film.scss */
.film-sn li {
  display: inline-block;
  background: #e6e6e6;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  margin: 0 10px;
  transition: all .2s linear;
}
/* line 84, ../scss/content/_film.scss */
.film-sn li:hover {
  background: #ff7a40;
}

/* line 90, ../scss/content/_film.scss */
.film-body-rating {
  border-top: 1px solid #d3d3d3;
  margin-top: 15px;
  padding-top: 18px;
}
/* line 94, ../scss/content/_film.scss */
.film-body-rating ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 99, ../scss/content/_film.scss */
.film-body-rating li {
  font-size: .5625rem;
  font-weight: 900;
  line-height: 1rem;
}
/* line 105, ../scss/content/_film.scss */
.film-body-rating li:nth-child(1) {
  background: url("../img/rating-1.png") no-repeat left top;
  background-size: 17px 17px;
  display: inline-block;
  padding-left: 23px;
  height: 17px;
}
/* line 111, ../scss/content/_film.scss */
.film-body-rating li:nth-child(1) span {
  position: relative;
  top: 2px;
}
/* line 116, ../scss/content/_film.scss */
.film-body-rating li:nth-child(2) {
  background: url("../img/rating-2.png") no-repeat left top;
  background-size: 18px 18px;
  display: inline-block;
  padding-left: 24px;
  height: 18px;
}
/* line 122, ../scss/content/_film.scss */
.film-body-rating li:nth-child(2) span {
  position: relative;
  top: 3px;
}
/* line 127, ../scss/content/_film.scss */
.film-body-rating li:nth-child(3) {
  background: url("../img/rating-3.png") no-repeat left top;
  background-size: 27px 13px;
  display: inline-block;
  padding-left: 35px;
  height: 13px;
  position: relative;
  top: 4px;
}
/* line 135, ../scss/content/_film.scss */
.film-body-rating li:nth-child(3) span {
  position: relative;
  top: -1px;
}
/* line 140, ../scss/content/_film.scss */
.film-body-rating li:nth-child(4) {
  background: url("../img/rating-4.png") no-repeat left top;
  display: inline-block;
  position: relative;
  top: -14px;
  width: 42px;
  height: 43px;
  text-align: center;
  font-size: .75rem;
}
/* line 149, ../scss/content/_film.scss */
.film-body-rating li:nth-child(4) span {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  top: 15px;
}
/* line 156, ../scss/content/_film.scss */
.film-body-rating li:nth-child(4) span.film-rating-help {
  position: absolute;
  right: -5px;
  left: auto;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #cacaca;
  border-radius: 50px;
  color: #cacaca;
  font-size: 8px;
  display: inline-block;
  line-height: 10px;
  cursor: pointer;
}

/* line 174, ../scss/content/_film.scss */
.film-body-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
/* line 179, ../scss/content/_film.scss */
.film-body-footer:before {
  content: '';
  width: 1px;
  height: 24px;
  background: #e6e6e6;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
}

/* line 193, ../scss/content/_film.scss */
.film-btn-arrow-prev {
  position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
  background: #f3f4f4;
  cursor: pointer;
  border-radius: 18px 0 0 18px;
  transition: background .2s linear;
}
/* line 203, ../scss/content/_film.scss */
.film-btn-arrow-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background: url("../img/chevron_right-24px.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 214, ../scss/content/_film.scss */
.film-btn-arrow-prev:hover {
  background: #e2dbea;
}

/* line 219, ../scss/content/_film.scss */
.film-btn-arrow-next {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 0;
  top: 0;
  background: #f3f4f4;
  cursor: pointer;
  border-radius: 0 18px 18px 0;
  transition: background .2s linear;
}
/* line 229, ../scss/content/_film.scss */
.film-btn-arrow-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background: url("../img/chevron_right-24px.svg") no-repeat center center;
  width: 24px;
  height: 24px;
}
/* line 239, ../scss/content/_film.scss */
.film-btn-arrow-next:hover {
  background: #e2dbea;
}

@media (min-width: 992px) {
  /* line 246, ../scss/content/_film.scss */
  .film-desctop {
    display: block;
  }

  /* line 249, ../scss/content/_film.scss */
  .film-banner {
    padding-left: 24px;
  }

  /* line 252, ../scss/content/_film.scss */
  .film-body {
    padding-left: 0;
    padding-top: 12px;
    padding-right: 24px;
  }
}
/* line 1, ../scss/content/_text-box.scss */
.text-box {
  border-top: 2px solid #e7e8eb;
  padding-top: 35px;
}
/* line 4, ../scss/content/_text-box.scss */
.text-box h2 {
  padding-bottom: 15px;
}

/* line 9, ../scss/content/_text-box.scss */
.film + .text-box {
  margin-top: 44px;
}

/* line 1, ../scss/content/_film-random.scss */
.film-random {
  padding: 24px 24px;
  position: relative;
  border-radius: 18px;
  background: #fbf7f7;
  transition: background .2s linear;
}

/* line 9, ../scss/content/_film-random.scss */
.text-box + .film-random {
  margin-top: 40px;
}

/* line 13, ../scss/content/_film-random.scss */
.film-random-banner {
  text-align: center;
  padding-left: 24px;
}
/* line 16, ../scss/content/_film-random.scss */
.film-random-banner img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 18px;
}

/* line 24, ../scss/content/_film-random.scss */
.film-random-body {
  padding-top: 12px;
  padding-right: 24px;
  position: relative;
  height: 100%;
}

/* line 32, ../scss/content/_film-random.scss */
.film-random-body-footer {
  padding-right: 30px;
  padding-top: 10px;
}

/* line 36, ../scss/content/_film-random.scss */
.film-random-body-footer-rating {
  background: url("../img/rating-4.png") no-repeat left top;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 42px;
  height: 43px;
  padding-top: 15px;
  text-align: center;
  font-size: .75rem;
  font-weight: 900;
}

@media (min-width: 992px) {
  /* line 51, ../scss/content/_film-random.scss */
  .film-random-body-footer {
    position: absolute;
    bottom: 24px;
    width: 100%;
    padding-right: 74px;
  }

  /* line 57, ../scss/content/_film-random.scss */
  .film-random-body-footer-rating {
    right: 24px;
    top: 0;
  }
}
/* line 67, ../scss/content/_film-random.scss */
.film-random-btn-arrow-prev {
  position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
  background: #f3f4f4;
  cursor: pointer;
  border-radius: 18px 0 0 18px;
  transition: background .2s linear;
}
/* line 77, ../scss/content/_film-random.scss */
.film-random-btn-arrow-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background: url("../img/chevron_right-24px.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 88, ../scss/content/_film-random.scss */
.film-random-btn-arrow-prev:hover {
  background: #e2dbea;
}

/* line 93, ../scss/content/_film-random.scss */
.film-random-btn-arrow-next {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 0;
  top: 0;
  background: #f3f4f4;
  cursor: pointer;
  border-radius: 0 18px 18px 0;
  transition: background .2s linear;
}
/* line 103, ../scss/content/_film-random.scss */
.film-random-btn-arrow-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background: url("../img/chevron_right-24px.svg") no-repeat center center;
  width: 24px;
  height: 24px;
}
/* line 113, ../scss/content/_film-random.scss */
.film-random-btn-arrow-next:hover {
  background: #e2dbea;
}

/* line 119, ../scss/content/_film-random.scss */
.film-random-genre {
  position: relative;
}
/* line 121, ../scss/content/_film-random.scss */
.film-random-genre ul {
  position: relative;
  width: 100%;
  padding: 10px 5px 10px 5px;
  background: #fbf7f7;
  display: none;
}
/* line 129, ../scss/content/_film-random.scss */
.film-random-genre li {
  width: 100%;
  display: block;
  font-size: .75rem;
  line-height: 1.5rem;
  cursor: pointer;
}
/* line 135, ../scss/content/_film-random.scss */
.film-random-genre li:hover {
  text-decoration: underline;
}
/* line 140, ../scss/content/_film-random.scss */
.film-random-genre.open ul {
  display: block;
}
/* line 145, ../scss/content/_film-random.scss */
.film-random-genre.open .film-random-genre-selected span:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 154, ../scss/content/_film-random.scss */
.film-random-genre-selected {
  width: 100%;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: bold;
  color: #2a2a2a;
  position: relative;
  cursor: pointer;
  padding-right: 24px;
}
/* line 164, ../scss/content/_film-random.scss */
.film-random-genre-selected span {
  position: relative;
  display: inline-block;
}
/* line 168, ../scss/content/_film-random.scss */
.film-random-genre-selected span:after {
  content: '';
  background: url("../img/chevron_right-24px.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  right: -24px;
  display: inline-block;
  cursor: pointer;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  /* line 184, ../scss/content/_film-random.scss */
  .film-random-genre {
    position: relative;
  }
  /* line 186, ../scss/content/_film-random.scss */
  .film-random-genre ul {
    position: absolute;
    top: 15px;
  }

  /* line 191, ../scss/content/_film-random.scss */
  .film-random-body-footer {
    padding-top: 0;
  }
}
/* line 3, ../scss/content/_film-more-info.scss */
.film-more-info-banner {
  border-radius: 18px;
}
/* line 5, ../scss/content/_film-more-info.scss */
.film-more-info-banner img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 18px;
}

/* line 13, ../scss/content/_film-more-info.scss */
.film-more-info {
  margin-top: 34px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 24px 12px;
  border-radius: 18px;
  background: #fbf7f7;
  transition: background .2s linear;
}
/* line 22, ../scss/content/_film-more-info.scss */
.film-more-info .film-sn ul {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 27, ../scss/content/_film-more-info.scss */
.film-more-info .film-sn li {
  margin: 0 20px;
}

/* line 34, ../scss/content/_film-more-info.scss */
.film-more-info-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 18px;
}

/* line 42, ../scss/content/_film-more-info.scss */
.view-trailer {
  margin-top: 15px;
}

/* line 46, ../scss/content/_film-more-info.scss */
.film-more-info-header {
  padding-top: 10px;
}
/* line 48, ../scss/content/_film-more-info.scss */
.film-more-info-header p {
  padding-top: 5px;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.75rem;
}

/* line 57, ../scss/content/_film-more-info.scss */
.film-more-info-rating ul {
  position: relative;
}
/* line 60, ../scss/content/_film-more-info.scss */
.film-more-info-rating li {
  display: inline-block;
  font-size: .5625rem;
  font-weight: 900;
  line-height: 1rem;
  margin-right: 25px;
}
/* line 67, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(1) {
  background: url("../img/rating-1.png") no-repeat left top;
  background-size: 17px 17px;
  padding-left: 23px;
  height: 17px;
}
/* line 72, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(1) span {
  position: relative;
  top: 2px;
}
/* line 77, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(2) {
  background: url("../img/rating-2.png") no-repeat left top;
  background-size: 18px 18px;
  padding-left: 24px;
  height: 18px;
}
/* line 82, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(2) span {
  position: relative;
  top: 2px;
}
/* line 87, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(3) {
  background: url("../img/rating-3.png") no-repeat left top;
  background-size: 27px 13px;
  padding-left: 35px;
  height: 13px;
  position: relative;
  top: 4px;
}
/* line 94, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(3) span {
  position: relative;
  top: -1px;
}
/* line 99, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(4) {
  position: relative;
  top: 2px;
  height: 43px;
}
/* line 103, ../scss/content/_film-more-info.scss */
.film-more-info-rating li:nth-child(4) span.film-rating-help {
  position: absolute;
  right: -47px;
  left: auto;
  top: -17px;
  width: 12px;
  height: 12px;
  border: 1px solid #cacaca;
  border-radius: 50px;
  color: #cacaca;
  font-size: 8px;
  display: inline-block;
  line-height: 10px;
  cursor: pointer;
  text-align: center;
}
/* line 120, ../scss/content/_film-more-info.scss */
.film-more-info-rating .film-rating-votes {
  position: relative;
  top: 10px;
  font-size: .6875rem;
  font-weight: 600;
}
/* line 126, ../scss/content/_film-more-info.scss */
.film-more-info-rating .film-rating-rk {
  background: url("../img/rating-4.png") no-repeat left top;
  position: absolute;
  display: inline-block;
  top: -12px;
  width: 42px;
  height: 43px;
  text-align: center;
  font-size: .75rem;
  margin-right: 0;
  padding-top: 15px;
}

/* line 141, ../scss/content/_film-more-info.scss */
.film-more-info-body {
  border-top: 2px solid #e6e6e6;
  padding-top: 10px;
}
/* line 144, ../scss/content/_film-more-info.scss */
.film-more-info-body .row {
  padding-top: 10px;
}
/* line 147, ../scss/content/_film-more-info.scss */
.film-more-info-body p {
  font-size: .875rem;
  line-height: 1.25rem;
  margin-top: 6px;
}
/* line 152, ../scss/content/_film-more-info.scss */
.film-more-info-body p + p {
  margin-top: 0;
  margin-top: 1px;
}

/* line 1, ../scss/content/_film-more-story.scss */
.film-more-story {
  margin-top: 22px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 24px;
  border-radius: 18px;
  background: #fbf7f7;
  transition: background .2s linear;
}

/* line 12, ../scss/content/_film-more-story.scss */
.film-more-story-body {
  padding-top: 15px;
}
/* line 14, ../scss/content/_film-more-story.scss */
.film-more-story-body p {
  font-size: .875rem;
  line-height: 1.125rem;
  text-indent: 1.5rem;
}
/* line 19, ../scss/content/_film-more-story.scss */
.film-more-story-body p + p {
  margin-top: .5rem;
  text-indent: 0;
}

/* line 25, ../scss/content/_film-more-story.scss */
.film-trailer-wrapper {
  border-radius: 18px;
  overflow: hidden;
  margin-top: 30px;
}

/* line 1, ../scss/content/_film-review.scss */
.film-review-wrapper {
  margin-top: 20px;
}

/* line 15, ../scss/content/_film-review.scss */
.select-country {
  position: relative;
}
/* line 19, ../scss/content/_film-review.scss */
.select-country.open .select-country-selected {
  text-decoration: underline;
}
/* line 21, ../scss/content/_film-review.scss */
.select-country.open .select-country-selected:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 25, ../scss/content/_film-review.scss */
.select-country.open .select-country-list {
  display: block;
}

/* line 32, ../scss/content/_film-review.scss */
.select-country-selected {
  font-size: .875rem;
  color: #ff7a40;
  padding: 0 30px 0 25px;
  cursor: pointer;
  text-align: right;
}
/* line 38, ../scss/content/_film-review.scss */
.select-country-selected:after {
  content: '';
  background: url("../img/chevron.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 4px;
  top: -3px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 49, ../scss/content/_film-review.scss */
.select-country-selected:hover {
  text-decoration: underline;
}

/* line 53, ../scss/content/_film-review.scss */
.select-country-list {
  position: absolute;
  right: 0;
  top: 18px;
  padding: 15px;
  background: #fbf7f7;
  z-index: 2;
  border-radius: 0 0 18px 18px;
  display: none;
}
/* line 62, ../scss/content/_film-review.scss */
.select-country-list li {
  font-size: .75rem;
  color: #2a2a2a;
  cursor: pointer;
}
/* line 66, ../scss/content/_film-review.scss */
.select-country-list li:hover {
  text-decoration: underline;
}
/* line 70, ../scss/content/_film-review.scss */
.select-country-list img {
  margin-right: 10px;
}

/* line 76, ../scss/content/_film-review.scss */
.film-review-list {
  padding: 15px 0;
}

/* line 80, ../scss/content/_film-review.scss */
.film-review-item {
  margin-top: 25px;
}
/* line 84, ../scss/content/_film-review.scss */
.film-review-item .film-review-item-name,
.film-review-item .film-review-item-date,
.film-review-item .film-review-item-country {
  color: #9c9c9c;
}
/* line 89, ../scss/content/_film-review.scss */
.film-review-item .film-review-item-name {
  font-size: .875rem;
}
/* line 92, ../scss/content/_film-review.scss */
.film-review-item .film-review-item-date {
  display: inline-block;
  width: 100%;
  font-size: .625rem;
  margin-bottom: 20px;
}
/* line 98, ../scss/content/_film-review.scss */
.film-review-item .film-review-item-country {
  color: #b2b2b2;
}
/* line 100, ../scss/content/_film-review.scss */
.film-review-item .film-review-item-country span {
  display: inline-block;
  width: 100%;
}

/* line 107, ../scss/content/_film-review.scss */
.film-review-item-text {
  padding: 20px 30px;
  border-radius: 18px;
  border: 1px solid #e6e6e6;
}
/* line 111, ../scss/content/_film-review.scss */
.film-review-item-text p {
  font-size: .875rem;
  line-height: 1.125rem;
}
