.inpt-reset{
	border: none;
	background: none;
	outline: none;
}

.inpt-1{
	@extend .inpt-reset;
	width: 100%;
	height: 30px;
	padding-right: 40px;
	padding-left: 40px;
}
.sbmt-1{
	@extend .inpt-reset;
	position: absolute;
	background: url('../img/search.svg');
	width: 24px;
	height: 24px;
	left: 12px;
	top: 50%;
	margin-top: -12px;
	cursor: pointer;
}


.btn-1{
	@extend .inpt-reset;
	width: 114px;
	height: 32px;
	border-radius: 8px;
	color: #282828;
	font-size: .6875rem;
	text-align: center;
	font-weight: 400;
	border: 1px solid #e6e6e6;
	padding: 0;
	cursor: pointer;
	transition: all .2s linear;
	&:hover{
		border-color: #ffa365;
		background: #ffa365;
	}
}

.btn-2{
	@extend .inpt-reset;
	width: 114px;
	height: 32px;
	border-radius: 8px;
	color: #282828;
	font-size: .6875rem;
	text-align: center;
	font-weight: 400;
	border: 1px solid #e6e6e6;
	padding: 0;
	cursor: pointer;
	transition: all .2s linear;
	&:hover{
		border-color: #ffa365;
		background: #ffa365;
	}
}

a.btn-1,
a.btn-2{
	line-height: 2rem;
	color: #282828;
	display: inline-block;
	&:hover{
		text-decoration: none;

	}
}

.btn:hover{}
.btn:active{}
.btn:press{
	
}

.btn-3{
	@extend .inpt-reset;
	display: inline-block;
	width: 100%;
	height: 32px;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 600;
	font-size: .75rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 400;
	padding: 0;
	cursor: pointer;
	background: #ffa365;

	&:hover{
		color: #ffffff;
		text-decoration: none;
	}
}

@media (min-width: 992px){

	.sbmt-1{
		left: auto;
		right: 25px;
		top: 12px;
		margin: 0;
	}

	.inpt-1{
		width: 100%;
		height: 30px;
		padding-right: 65px;
		padding-left: 25px;
		margin-top: 9px;
	}

}