.theme-dark{
	body{
		color: $color-white !important;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	.film-list-item-rating,
	.film-body-rating,
	.btn-1,
	.btn-2,
	.film-more-info-rating{
		color: $color-white !important;
	}

	.modal-close{
		&:before,
		&:after{
			background: $color-white !important;
		}
	}
	.sidebar,
	.header{
		background: $bg-nav-dark !important;
	}
	.content,
	.modal-content{
		background: $bg-dark !important;
	}
	.film-list,
	.film,
	.film-random,
	.genre-more-inner.open,
	.header-search,
	.film-more-story,
	.film-more-info,
	.select-country-list,
	.box-title span,
	.film-random-genre ul{
		background: $bg-section-dark !important;
	}
	.film-btn-arrow-prev,
	.film-btn-arrow-next,
	.film-random-btn-arrow-prev,
	.film-random-btn-arrow-next{
		background: $btn-bg !important;
		&:hover{
			background: $btn-bg-hover !important;
		}
	}

	.film-list-item{
		&.active,
		&:hover{
			background: #2e231f !important;
		}
	}

	.film-sn li{
		background: $btn-bg;
		&:hover{

		}
	}

	.genre a,
	.genre .genre-get-more,
	.film-random-genre-selected,
	.film-random-genre ul li,
	.film-random-body-footer-rating,
	.select-country-list li{
		color: $color-white !important;
	}

	.main-nav a,
	.mobile-get-genre a,
	.main-nav li,
	.mobile-get-genre li,
	.logo-title,
	.logo-slogan{
		color: #161616 !important;
	}
	.logo-title{
		border-color: #161616;
	}

	.film-inner{
	.film-shadow{
			background: rgba(0, 0, 0, 0.6) !important;
		}
	}

	.modal-genre-list{
		a{
			color: #ffffff;
		}
	}
	




}

@media (min-width: 992px){
	.theme-dark{
		.header{
			background: none !important;
		}
	}
}