/*main color*/

$color-white: #ffffff;
$color-dark: #161616;

$title-color: #1e1e1e;
$font-color: #2a2a2a;

$bg-white: #f7f9fe;
$bg-section-white: #fbf7f7;
$bg-nav-white: #4b1e7b;  


$bg-dark: #1c2023; /*14181b*/
$bg-section-dark: #14181b; /*1c2023*/
// $bg-nav-dark: #ffe473;
$bg-nav-dark: #ffcc33;

$btn-bg: #292b2d;
$btn-bg-hover: #e19b6d;


$border-radius: 18px;

$layout-border-radius: 30px;



@mixin rotate($deg) {
	-moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}