// $grid-breakpoints: (
//   // Очень маленькие экраны / телефоны
//   xs: 0,
//   // Небольшие экраны / телефоны
//   sm: 34em,
//   // Средние экраны / планшеты
//   md: 48em,
//   // Большие экраны / настольные компьютеры
//   lg: 62em,
//   // очень большие экраны / широкоформатные мониторы
//   xl: 75em
// ) !default;

$grid-gutter-width: 1.5rem;


// Требуемое
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Опциональное
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/code";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/modal";


@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900,&display=swap&subset=cyrillic');

@import "var";

@import "font";
          
@import "form";

@import "sidebar/sidebar";

@import "sidebar/_main_nav";


body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #ffffff;
  color: #282828;
  &.open{
    overflow: hidden;
  }
}
body *{
  box-sizing: border-box;
  outline: none;
}

.ui-page{

}

.layout{
  max-width: 1254px;
  // margin: 15px;
  margin: 0;
  // border-radius: $layout-border-radius;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1{
  font-size: 1.875rem;
  font-weight: bold;
  color: $title-color;
  line-height: 2rem;
}
h2{
  color: $title-color;
  font-size: 1.125rem; /*18*/
  line-height: 1.5rem; /*24*/
  font-weight: bold;
}
h3{
  color: $title-color;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.875rem;
}

p{
  font-size: .75rem;
  line-height: 1rem;
  color: $font-color;
}
.opacity{
  opacity: .5;
}

.clear{
  clear: both;
}

.box-title{
  width: 100%;
  position: relative;
  span{
    background: $bg-section-white;
    padding-right: 30px;
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #e6e6e6;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    z-index: 1;
  }
}

.shadow {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s linear;
    // border-radius: $layout-border-radius;
    &.open {
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
  }
}

@media (min-width: 992px){
  body{
    overflow: auto !important;
  }
  .layout{
    max-width: 1254px;
    border-radius: $layout-border-radius;
    margin: 36px auto 32px auto;
    display: flex;
    flex-direction: row;
  }
  .shadow {
    &.open{
      left: -100% !important;
      right: auto;
    }
  }

}

@import "theme-dark";

@import "content/modal";

@import "header/burger";

@import "header/header";

@import "header/genre";

@import "header/swither";
 
@import "content/content";


@import "content/film-list";

@import "content/film";

@import "content/text-box";

@import "content/film-random";

@import "content/film-more-info";

@import "content/film-more-story";

@import "content/film-review";
