.burger {
    display: block;
    padding: 10px;
    cursor: pointer;
    z-index: 150;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -17px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 12;
    transition: opacity .3s linear;
}
.burger.hide{
	z-index: 0;
}
.burger .bar {
    margin: auto;
    display: block;
    width: 20px;
    height: 2px;
    background: $color-white;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.burger .bar+.bar {
    margin-top: 4px;
}

.burger.open .bar:nth-child(2) {
    display: none;
}
.burger.open .bar:nth-child(1) {
    transform: rotate(45deg);
    ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    bottom: -6px;
}
.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 0px;
}


@media (min-width: 992px){
    .burger {
        display: none;
    }
}