.genre{
	padding: 0 0 0 24px;
	line-height: 1.25rem;
	a,
	.genre-get-more{
		color: $font-color;
		font-size: .75rem;
		cursor: pointer;
		line-height: 1.25rem;
	}

}

.header .genre{
	display: none;
}

.genre-list{
	padding-top: 10px;
	overflow: hidden;
	height: 52px;
	li{
		display: inline;
		padding-right: 12px;

	}
	a{
		
	}
}

.genre-more{
	position: relative;
	background: orange;
	z-index: 2;
}

.genre-more-inner{
	padding: 10px 24px 15px 24px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	
	&.open{
		border-radius: $border-radius;
		background: $bg-section-white;
		.genre-get-more{
			text-decoration: underline;
			&:after{
				@include rotate(90deg);
			}
		}
		.genre-more-list{
			display: block;
		}
	}
	.genre-get-more{
		color: #ff8d5c;
		position: relative;
		padding-right: 28px;
		display: inline-block;
		width: 100%;
		&:after{
			content: '';
			background: url('../img/chevron.svg');
			width: 24px;
			height: 24px;
			display: inline-block;
			position: absolute;
			right: 0;
			top: -2px;
			@include rotate(-90deg);
		}
	}
	.genre-more-list{
		display: none;
	}
}



@media (min-width: 992px){
	.header .genre{
		display: block;
	}

}

@media (min-width: 1200px){
	
}
