.header{
	background: $bg-nav-white;
	// border-radius: $layout-border-radius $layout-border-radius 0 0;
	padding: 24px 12px 24px 12px;
	// position: fixed;
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	left: 15px;
	right: 15px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	// height: 98px;
	height: 80px;
	transition: background .2s linear;
}


.header-mobile-logo{
	position: absolute;
	width: 100%;
	left: 0;
	top: -20px;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 0;
	opacity: 1;
	transition: opacity .2s linear;
	&.search-open{
		opacity: 0;
	}
}
.get-search{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
	height: 24px;
	width: 24px;
    background: url("../img/search-white.svg");
	cursor: pointer;
	z-index: 1;
}

.search-close{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -12px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	z-index: 4;
	&:before {
	    content: '';
	    width: 15px;
	    height: 2px;
	    background: #616161;
	    position: absolute;
	    left: 5px;
	    top: 11px;
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	&:after{
	    content: '';
	    width: 15px;
	    height: 2px;
	    background: #616161;
	    position: absolute;
	    left: 5px;
	    top: 11px;
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
}

.header-search-wrapper{
	position: relative;
	overflow: hidden;
	height: 32px;
	&.search-open{
		height: 194px;
		background: #ffffff;
		border-radius: $border-radius;
	}
}

.header-search{
	background: $bg-section-white;
	// height: 48px;
	height: 32px;
	width: 100%;
	position: absolute;
	right: -100%;
	border-radius: 15px;
	transition: all .2s linear;
	z-index: 3;
	&.search-open{
		right: 0;
	}
}
.header-search-inner{
	position: relative;
	z-index: 3;
	height: 32px;
}

.header-search-result{
	background: $bg-section-white;
	border-radius: 0 0 $border-radius $border-radius;
	padding: 25px 24px 20px 24px;
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	z-index: 2;
	display: none;
	overflow-y: scroll;
	max-height: 162px;
	li{
		padding-top: 5px;
		font-size: .75rem;
		line-height: 1rem;
		color: $font-color;
		cursor: pointer;
	}
}


// .header.header-film{
.layout-film{
	.header{
		height: 0px;
		padding: 0;
		.genre,
		.header-mobile-logo,
		.header-search,
		.get-search{
			display: none;
		}
		.switch-wrapper{
		  border-radius: 36px;
		  background: #ffffff;
		  padding: 4px 10px;
		  position: absolute;
		  top: 0;
		  right: 36px;
		  // width: 60px;
		  text-align: center;
		}
		.burger {
			top: 41px;
			left: 29px;
		}
	}
	.sidebar.open{
		top: 0;
	}
}


@media (min-width: 992px){
	.header.header-film{
		height: 0;
	}

	.header-mobile-logo,
	.search-close{
		display: none;
	}

	.get-search{
		display: none;
	}
	.header{
		border-radius: $layout-border-radius $layout-border-radius 0 0;
		background: none;
		border-radius: 0;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		height: auto;
		height: 98px;
		padding: 24px 0 0 0;
		margin-left: 0;
		margin-right: 0;
		background: none !important;
	}

	.header-search{
		position: relative;
		right: 0;
		height: 48px;
	}

	.header-search-wrapper{
		position: relative;
		overflow: visible;
		height: auto;
		&.search-open{
			height: auto;
			background: none;
			border-radius: $border-radius;
		}
	}

	.header-search-result{
		overflow: visible;
	}

	.layout-film .header{
		height: 0px;
		padding: 0;
		.genre,
		.header-mobile-logo,
		.header-search,
		.get-search{
			display: none;
		}
		.switch-wrapper{
		  border-radius: 36px;
		  background: #ffffff;
		  padding: 8px 16px;
		  position: absolute;
		  top: 32px;
		  right: 24px;
		  width: 88px;
		  text-align: center;
		}
	}


}