.switch-wrapper{
  position: relative;
  top: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  // margin-top: 15px;
  border: 1px solid #e7e8eb;
  border-radius: 36px;
  display: inline-block;
}
.header .switch{
  display: none;
}
.header.header-film .switch{
  display: block;
}
.switch-wrapper input { 
  opacity: 0!important;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #e7e8eb;
  background: #ff8d5c;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider,
.ui-checkbox-on .slider{
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e7e8eb;
}

input:checked + .slider:before,
.ui-checkbox-on .slider:before{
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






@media (min-width: 992px){
  .header .switch{
    display: block;
  }

}