.content{
	width: 100%;
	flex-grow: 1;
	background: $bg-white;
	// padding: 80px 12px 24px 12px;
	padding: 0 12px 24px 12px;
	transition: background .2s linear;
}

.content-inner{
	margin-top: 24px;
}


@media (min-width: 992px){
	.content{
		width: 80%;
		// padding: 24px 12px;
		padding: 0 12px 24px 12px;
	}
}