.film-random{
	padding: 24px 24px;
	position: relative;
	border-radius: $border-radius;
	background: $bg-section-white;
	transition: background .2s linear;
}

.text-box + .film-random{
	margin-top: 40px;
}

.film-random-banner{
	text-align: center;
	padding-left: 24px;
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}

}
.film-random-body{
	padding-top: 12px;
	padding-right: 24px;
	position: relative;
	height: 100%;
}


.film-random-body-footer{
	padding-right: 30px;
	padding-top: 10px;
}
.film-random-body-footer-rating{
	background: url('../img/rating-4.png') no-repeat left top;
	position: absolute;
	right: 10px;
	top: 15px;
	width: 42px;
	height: 43px;
	padding-top: 15px;
	text-align: center;
	font-size: .75rem;
	font-weight: 900;
}


@media (min-width: 992px){
	.film-random-body-footer{
		position: absolute;
		bottom: 24px;
		width: 100%;
		padding-right: 74px;
	}
	.film-random-body-footer-rating{
		right: 24px;
		top: 0;
	}
}




.film-random-btns{}
.film-random-btn-arrow-prev{
	position: absolute;
	width: 24px;
	height: 100%;
	left: 0;
	top: 0;
	background: #f3f4f4;
	cursor: pointer;
	border-radius: $border-radius 0 0 $border-radius;
	transition: background .2s linear;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		background: url("../img/chevron_right-24px.svg") no-repeat center center;
		width: 24px;
		height: 24px;
		@include rotate(180deg);
	}
	&:hover{
		background: #e2dbea;
	}
}

.film-random-btn-arrow-next{
	position: absolute;
	width: 24px;
	height: 100%;
	right: 0;
	top: 0;
	background: #f3f4f4;
	cursor: pointer;
	border-radius: 0 $border-radius $border-radius 0;
	transition: background .2s linear;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		background: url("../img/chevron_right-24px.svg") no-repeat center center;
		width: 24px;
		height: 24px;
	}
	&:hover{
		background: #e2dbea;
	}
}


.film-random-genre{
	position: relative;
	ul{
		position: relative;
		width: 100%;
		// top: 15px;
		padding: 10px 5px 10px 5px;
		background: $bg-section-white;
		display: none;
	}
	li{
		width: 100%;
		display: block;
		font-size: .75rem;
		line-height: 1.5rem;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	&.open{
		ul{
			display: block;
		}
		.film-random-genre-selected{
			span{
				&:after{
					@include rotate(-90deg);
				}
			}
			
		}
	}
}

.film-random-genre-selected{
	width: 100%;
	font-size: .75rem;
	line-height: 1rem;
	font-weight: bold;
	color: $font-color;
	position: relative;
	cursor: pointer;
	padding-right: 24px;
	// float: left;
	span{
		// float: left;
		position: relative;
		display: inline-block;
		&:after{
			content: '';
			background: url("../img/chevron_right-24px.svg") no-repeat center center;
			width: 24px;
			height: 24px;
			position: absolute;
			top: -4px;
			right: -24px;
			display: inline-block;
			cursor: pointer;
			@include rotate(90deg);
		}
	}
}

@media (min-width: 992px){
	.film-random-genre{
		position: relative;
		ul{
			position: absolute;
			top: 15px;
		}
	}
	.film-random-body-footer{
		padding-top: 0;
	}
}