.film-more-story{
	margin-top: 22px;
	margin-left: 12px;
	margin-right: 12px;
	padding: 24px;
	border-radius: $border-radius;
	background: $bg-section-white;
	transition: background .2s linear;
	
}

.film-more-story-body{
	padding-top: 15px;
	p{
		font-size: .875rem;
		line-height: 1.125rem;
		text-indent: 1.5rem;
	}
	p + p{
		margin-top: .5rem;
		text-indent: 0;
	}
}

.film-trailer-wrapper{
	border-radius: $border-radius;
	overflow: hidden;
	margin-top: 30px;
}