.film{
	padding: 24px 24px;
	position: relative;
	border-radius: $border-radius;
	background: $bg-section-white;
	transition: background .2s linear;
}

.film-inner{
	.film-shadow{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: $border-radius;
		z-index: -1;
		background: rgba(255, 255, 255, 0.6);
		transition: all .2s linear;
		opacity: 0;
		&.show{
			z-index: 10;
			opacity: 1;
		}
		img{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -36px; 
			margin-left: -36px;
		}
	}
}

.film-desctop{
	display: none;
}
.film-banner{
	text-align: center;
	// padding-left: 24px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}

}
.film-body{
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 12px; 
	h2{
	}
	p{
		font-size: .6875rem;
	}
}
.film-genre{
	padding-top: 5px;
	padding-bottom: 6px;
	p{
		font-size: .625rem;
	}
}


.film-sn{
	width: 100%;
	padding-top: 20px;
	ul{
		display: flex;
	  	flex-direction: row;
	  	justify-content: space-between;
	}
	li{
		display: inline-block;
		background: #e6e6e6;
		border-radius: 5px;
		width: 22px;
		height: 22px;
		margin: 0 10px;
		transition: all .2s linear;
		&:hover{
			background: #ff7a40;
		}
	}
}

.film-body-rating{
	border-top: 1px solid #d3d3d3;
	margin-top: 15px;
	padding-top: 18px;
	ul{
		display: flex;
	  	flex-direction: row;
	  	justify-content: space-between;
	}
	li{
		font-size: .5625rem;
		font-weight: 900;
		line-height: 1rem;
	}

	li:nth-child(1){
		background: url('../img/rating-1.png') no-repeat left top;
		background-size: 17px 17px;
		display: inline-block;
		padding-left: 23px;
		height: 17px;
		span{
			position: relative;
			top: 2px;
		}
	}
	li:nth-child(2){
		background: url('../img/rating-2.png') no-repeat left top;
		background-size: 18px 18px;
		display: inline-block;
		padding-left: 24px;
		height: 18px;
		span{
			position: relative;
			top: 3px;
		}
	}
	li:nth-child(3){
		background: url('../img/rating-3.png') no-repeat left top;
		background-size: 27px 13px;
		display: inline-block;
		padding-left: 35px;
		height: 13px;
		position: relative;
		top: 4px;
		span{
			position: relative;
			top: -1px;
		}
	}
	li:nth-child(4){
		background: url('../img/rating-4.png') no-repeat left top;
		display: inline-block;
		position: relative;
		top: -14px;
		width: 42px;
		height: 43px;
		text-align: center;
		font-size: .75rem;
		span{
			position: absolute;
			display: inline-block;
			width: 100%;
			left: 0;
			top: 15px;
		}
		span.film-rating-help{
			position: absolute;
			right: -5px;
			left: auto;
			top: 0;
			width: 12px;
			height: 12px;
			border: 1px solid #cacaca;
			border-radius: 50px;
			color: #cacaca;
			font-size: 8px;
			display: inline-block;
			line-height: 10px;
			cursor: pointer;
		}
	}
}

.film-body-footer{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	position: relative;
  	&:before{
  		content: '';
  		width: 1px;
  		height: 24px;
  		background: #e6e6e6;
  		position: absolute;
  		left: 50%;
  		top: 50%;
  		margin-top: -12px; 
  	}
}


.film-btns{}
.film-btn-arrow-prev{
	position: absolute;
	width: 24px;
	height: 100%;
	left: 0;
	top: 0;
	background: #f3f4f4;
	cursor: pointer;
	border-radius: $border-radius 0 0 $border-radius;
	transition: background .2s linear;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		background: url("../img/chevron_right-24px.svg") no-repeat center center;
		width: 24px;
		height: 24px;
		@include rotate(180deg);
	}
	&:hover{
		background: #e2dbea;
	}
}

.film-btn-arrow-next{
	position: absolute;
	width: 24px;
	height: 100%;
	right: 0;
	top: 0;
	background: #f3f4f4;
	cursor: pointer;
	border-radius: 0 $border-radius $border-radius 0;
	transition: background .2s linear;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		background: url("../img/chevron_right-24px.svg") no-repeat center center;
		width: 24px;
		height: 24px;
	}
	&:hover{
		background: #e2dbea;
	}
}


@media (min-width: 992px){
	.film-desctop{
		display: block;
	}
	.film-banner{
		padding-left: 24px;
	}
	.film-body{
		padding-left: 0;
		padding-top: 12px;
		padding-right: 24px;
	}
}