.film-more-info-wrapper{}

.film-more-info-banner{
	border-radius: $border-radius;
	img{
		display: block;
		width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

.film-more-info{
	margin-top: 34px;
	margin-left: 12px;
	margin-right: 12px;
	padding: 24px 12px;
	border-radius: $border-radius;
	background: $bg-section-white;
	transition: background .2s linear;
	.film-sn{
		ul{
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		li{
			margin: 0 20px;
		}
	}
}

.film-more-info-img{
	img{
		display: block;
		width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

.view-trailer{
	margin-top: 15px;
}

.film-more-info-header{
	padding-top: 10px;
	p{
		padding-top: 5px;
		font-size: 1rem;
		font-weight: lighter;
		line-height: 1.75rem;
	}
}

.film-more-info-rating{
	ul{
		position: relative;
	}
	li{
		display: inline-block;
		font-size: .5625rem;
		font-weight: 900;
		line-height: 1rem;
		margin-right: 25px;
	}
	li:nth-child(1){
		background: url('../img/rating-1.png') no-repeat left top;
		background-size: 17px 17px;
		padding-left: 23px;
		height: 17px;
		span{
			position: relative;
			top: 2px;
		}
	}
	li:nth-child(2){
		background: url('../img/rating-2.png') no-repeat left top;
		background-size: 18px 18px;
		padding-left: 24px;
		height: 18px;
		span{
			position: relative;
			top: 2px;
		}
	}
	li:nth-child(3){
		background: url('../img/rating-3.png') no-repeat left top;
		background-size: 27px 13px;
		padding-left: 35px;
		height: 13px;
		position: relative;
		top: 4px;
		span{
			position: relative;
			top: -1px;
		}
	}
	li:nth-child(4){
		position: relative;
		top: 2px;
		height: 43px;
		span.film-rating-help{
			position: absolute;
			right: -47px;
			left: auto;
			top: -17px;
			width: 12px;
			height: 12px;
			border: 1px solid #cacaca;
			border-radius: 50px;
			color: #cacaca;
			font-size: 8px;
			display: inline-block;
			line-height: 10px;
			cursor: pointer;
			text-align: center;
		}
	}
	.film-rating-votes{
		position: relative;
		top: 10px;
		font-size: .6875rem;
		font-weight: 600;
	}
	.film-rating-rk{
		background: url('../img/rating-4.png') no-repeat left top;
		position: absolute;
		display: inline-block;
		top: -12px;
		width: 42px;
		height: 43px;
		text-align: center;
		font-size: .75rem;
		margin-right: 0;
		padding-top: 15px;
	}
}


.film-more-info-body{
	border-top: 2px solid #e6e6e6;
	padding-top: 10px;
	.row{
		padding-top: 10px; 
	}
	p{
		font-size: .875rem;
		line-height: 1.25rem;
		margin-top: 6px;
	}
	p + p {
		margin-top: 0;
		margin-top: 1px;
	}
}