.film-list{
	padding: 15px 24px;
	background: $bg-section-white;
	border-radius: 15px;
	transition: background .2s linear;
}

.film-list-item{
	padding: 15px 24px;
	border-radius: $border-radius;
	transition: background .2s linear;
	cursor: pointer;
	&:hover,
	&.active{
		background: #fff0ea;
		.film-list-item-rating{
			opacity: 1;
		}
	}
	.col-lg-7,
	.col-lg-2{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.film-list-item-img{
	img{
		display: block;
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
}
.film-list-item-text{
	padding-top: 20px;
	padding-bottom: 15px;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	h2{
		font-size: 1.125rem;
		font-weight: bold;
		color: $title-color;
		padding-bottom: 10px;
	}
	p{
		font-size: .75rem;
		font-weight: 400;
	}
}
.film-list-item-rating{
	background: url('../img/rating.png') no-repeat;
	width: 33px;
	height: 33px;
	font-size: 10px;
	font-weight: 900;
	line-height: 34px;
	text-align: center;
	position: relative;
	top: 0;
	right: 0;
	opacity: .6;
	transition: opacity .2s linear;
}


@media (min-width: 992px){
	.film-list-item-text{
		padding-top: 0;
		padding-bottom: 0;
		h2{
			padding-bottom: 0;
		}
	}

}