.film-review-wrapper{
	margin-top: 20px;
}


.film-review-list{

}

.film-review-item{

}


.select-country{
	position: relative;

	&.open{
		.select-country-selected{
			text-decoration: underline;
			&:after{
				@include rotate(90deg);
			}
		}
		.select-country-list{
			display: block;
		}
	}


}
.select-country-selected{
	font-size: .875rem;
	color: #ff7a40;
	padding: 0 30px 0 25px;
	cursor: pointer;
	text-align: right;
	&:after{
		content: '';
		background: url('../img/chevron.svg');
		width: 24px;
		height: 24px;
		display: inline-block;
		position: absolute;
		right: 4px;
		top: -3px;
		@include rotate(-90deg);
	}
	&:hover{
		text-decoration: underline;
	}
}
.select-country-list{
	position: absolute;
	right: 0;
	top: 18px;
	padding: 15px;
	background: $bg-section-white;
	z-index: 2;
	border-radius: 0 0 $border-radius $border-radius;
	display: none;
	li{
		font-size: .75rem;
		color: $font-color;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	img{
		margin-right: 10px;
	}
}


.film-review-list{
	padding: 15px 0;
}

.film-review-item{
	margin-top: 25px;


	.film-review-item-name,
	.film-review-item-date,
	.film-review-item-country{
		color: #9c9c9c;
	}
	.film-review-item-name{
		font-size: .875rem;
	}
	.film-review-item-date{
		display: inline-block;
		width: 100%;
		font-size: .625rem;
		margin-bottom: 20px;
	}
	.film-review-item-country{
		color: #b2b2b2;
		span{
			display: inline-block;
			width: 100%;
		}
	}
}

.film-review-item-text{
	padding: 20px 30px;
	border-radius: $border-radius;
	border: 1px solid #e6e6e6;
	p{
		font-size: .875rem;
		line-height: 1.125rem;
	}
}