.modal-content{
	border-radius: 0;
}

.modal-header{
	border-radius: $border-radius $border-radius 0 0;
	border: none;
	position: relative;
}
.modal-close{
	position: absolute;
	right: 25px;
	top: 25px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	// background: #4b1e7b;
	position: absolute;
	right: 12px;
	top: 12px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	z-index: 4;
	&:before {
	    content: '';
	    width: 15px;
	    height: 2px;
	    background: #4b1e7b;
	    position: absolute;
	    left: 5px;
	    top: 11px;
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	&:after{
	    content: '';
	    width: 15px;
	    height: 2px;
	    background: #4b1e7b;
	    position: absolute;
	    left: 5px;
	    top: 11px;
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
}

.modal-genre-list{
	a{
		color: $font-color;
	}
}

.modal-film{
	.film-banner{
			img{
			text-align: center;
		}
	}
	.film-banner img{
		display: inline-block;
	}
}

@media (min-width: 992px){
	.modal-content{
		border-radius: $border-radius;
	}
}