.main-nav,
.mobile-get-genre{
	margin-top: 0;
	text-align: center;
	ul{
		list-style: none;
	}
	li{
		width: 100%;
		position: relative;
		padding: 11px 0 9px 0;
		margin-top: 12px;
		font-size: 14px;
		line-height: 16px;
		color: $color-white;
		font-weight: 500;
		position: relative;
		z-index: 2;
		border-top: none;
		&.active,
		&:hover{
			&:before{
				content: '';
				width: 165px;
				display: block;
				z-index: 1;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				background: #ffffff;
				border-radius: 10px 0 0 10px;
			}
			a{
				color: $color-dark;
			}
		}
		&.soon{
			span{
				opacity: .4;
			}
			&:hover{
				&:before{
					display: none;
				}
			}
			&:after{
				content: 'Soon';
				position: absolute;
				left: 0;
				top: -10px;
				font-size: 10px;
				color: $color-white;
				font-weight: 300;
				padding: 0px 4px;
				border-radius: 0 5px 5px 0;
				background: #6f6f6f;
			}
		}
	}
	a{
		font-size: 14px;
		line-height: 16px;
		color: $color-white;
		font-weight: 500;
		position: relative;
		z-index: 2;
		border-top: none;
		&:hover{
			text-decoration: none;
		}
	}
}

@media (min-width: 992px){

	.main-nav,
	.mobile-get-genre{
		margin-top: 38px;
	}

}