.sidebar{
	position: fixed;
	left: -300px;
	width: 178px;
	height: 100%;
	background: $bg-nav-white;
	flex-grow: 0;
	// flex: 2;
	padding: 80px 0 18px 0;
	// border-radius: $layout-border-radius 0 0 $layout-border-radius;
	z-index: 10;
	opacity: 0;
	transition: all .2s linear;
	overflow-y: scroll;
	// transition: background .2s linear;
	&.open{
		// left: 15px;
		left: 0;
		// top: 0;
		opacity: 1;
	}
}

.sidebar-logo{
	text-align: center;
	display: none;
	.logo-title{
		display: inline-block;
		padding-bottom: 5px;
		color: #ffee4d;
		font-size: 1.375rem;
		border-bottom: 1px solid #ffee4d;
		transition: all .2s linear;
	}
	.logo-slogan{
		display: inline-block;
		width: 100%;
		color: #ffee4d;
		font-size: .5625rem;
		letter-spacing: 1px;
		transition: color .2s linear;
	}
}



.sidebar-switcher{
	text-align: center;
}


@media (min-width: 768px){

}

@media (min-width: 992px){
	.sidebar{
		position: relative;
		left: 0;
		width: 178px;
		padding: 18px 0;
		opacity: 1 !important;
		overflow: visible;
		height: auto;
		border-radius: $layout-border-radius 0 0 $layout-border-radius;
	}
	.sidebar-logo{
		display: block;
	}
	.mobile-get-genre,
	.sidebar-switcher{
		display: none;
	}

}